.resto-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.card {
  border: 1px solid black;
  width: calc(100% / 6 - 1rem);
  box-sizing: border-box;
  padding: 10px;
}

.card-header img{
  width: 100%;
}
